<nav>

<div class="title-left">
  <h1>Climber Core</h1>
  <p>A climbers best friend to total fitness.</p>
</div>

<div class="title-right">
  <div class="social-icon">
    <img src="img/facebook.png">
    <img src="img/twitter.png">
    <img src="img/youtube.png">
    <p class="social-text">Find us online!</p>
  </div>
</div>

</nav>
