/* Overwrite this file in your application /app/assets/stylesheets/comfortable_mexican_sofa/admin/application.css */
/* NAV BAR */
/* line 10, /Users/mattlucas/dev/climber_core/app/assets/stylesheets/comfortable_mexican_sofa/admin/application.css.scss */
nav {
  margin-top: -20px;
  width: 100%;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.85);
  border-bottom: rgba(255, 0, 0, 0.95) 8px solid;
  color: gray;
}

/* line 19, /Users/mattlucas/dev/climber_core/app/assets/stylesheets/comfortable_mexican_sofa/admin/application.css.scss */
.title-left {
  float: left;
  margin-left: 15px;
  margin-top: 10px;
  color: white;
}

/* line 26, /Users/mattlucas/dev/climber_core/app/assets/stylesheets/comfortable_mexican_sofa/admin/application.css.scss */
.title-left h1 {
  margin-bottom: -5px;
  color: white;
}

/* line 31, /Users/mattlucas/dev/climber_core/app/assets/stylesheets/comfortable_mexican_sofa/admin/application.css.scss */
.title-right {
  float: right;
  margin-right: 15px;
  margin-top: 25px;
  color: white;
}

/* line 38, /Users/mattlucas/dev/climber_core/app/assets/stylesheets/comfortable_mexican_sofa/admin/application.css.scss */
.title-right img {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  margin-bottom: -10px;
  float: right;
}

/* line 47, /Users/mattlucas/dev/climber_core/app/assets/stylesheets/comfortable_mexican_sofa/admin/application.css.scss */
.title-right p {
  float: right;
  clear: both;
  margin-right: 10px;
}

/* Main Section under Nav  */
/* line 55, /Users/mattlucas/dev/climber_core/app/assets/stylesheets/comfortable_mexican_sofa/admin/application.css.scss */
.main-intro {
  width: 100%;
  height: 630px;
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 0px;
  padding: 15px;
}

/* line 63, /Users/mattlucas/dev/climber_core/app/assets/stylesheets/comfortable_mexican_sofa/admin/application.css.scss */
.main-intro h2 {
  text-align: center;
  font-weight: lighter;
}

/* line 68, /Users/mattlucas/dev/climber_core/app/assets/stylesheets/comfortable_mexican_sofa/admin/application.css.scss */
.main-intro .bold-text {
  font-weight: bolder;
}

/* line 72, /Users/mattlucas/dev/climber_core/app/assets/stylesheets/comfortable_mexican_sofa/admin/application.css.scss */
.main-movie {
  text-align: center;
}

/* Main Crux Snippet  */
/* line 78, /Users/mattlucas/dev/climber_core/app/assets/stylesheets/comfortable_mexican_sofa/admin/application.css.scss */
.main-crux {
  /*height: 630px;*/
  border-top: red 3px solid;
  border-bottom: red 3px solid;
  padding-bottom: 2.0em;
}

/* line 85, /Users/mattlucas/dev/climber_core/app/assets/stylesheets/comfortable_mexican_sofa/admin/application.css.scss */
.main-inner {
  width: 80%;
  margin-left: 10%;
}

/* line 90, /Users/mattlucas/dev/climber_core/app/assets/stylesheets/comfortable_mexican_sofa/admin/application.css.scss */
.cTitle {
  text-align: center;
}

/* line 94, /Users/mattlucas/dev/climber_core/app/assets/stylesheets/comfortable_mexican_sofa/admin/application.css.scss */
.argument {
  padding: 10px;
}

/* line 98, /Users/mattlucas/dev/climber_core/app/assets/stylesheets/comfortable_mexican_sofa/admin/application.css.scss */
.author {
  font-weight: bolder;
  text-align: center;
}

/* line 103, /Users/mattlucas/dev/climber_core/app/assets/stylesheets/comfortable_mexican_sofa/admin/application.css.scss */
.boldest-text {
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 3em;
}

/* line 112, /Users/mattlucas/dev/climber_core/app/assets/stylesheets/comfortable_mexican_sofa/admin/application.css.scss */
.bolder-text {
  font-weight: bolder;
  display: block;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 2.5em;
}
/*
.testimonials-main {
  height: 600px;
  overflow: hidden;
  border-bottom: red 3px solid;
}

.testimonials-inner{
  text-align: center;
  float: left;
  display: inline-block;
  width: 88%;
}

.testimonials-1 {
  display: inline-block;
  background-color: black;
  height: 600px;
  width: 100%;
}

.testimonials-2 {
  display: inline-block;
  height: 600px;  
  width: 100%;
}

.testimonials-3 {
  display: inline-block;
  height: 600px;
  background-color: yellow;  
  width: 100%;
}

.testimonials-4 {
  display: inline-block;
  height: 600px;
  background-color: pink; 
  width: 100%;
}

.left-button {
  height: 50px;
  width: 6%;
  float: left; 
  display: inline-block;
  margin-top: 272.5px;
}

.right-button {
  height: 50px;  
  width: 6%;
  float: right;
  display: inline-block;
  margin-top: 272.5px;
}
.left-button-inner{
  margin: 15px;
  border: 1px solid black;
  height: 100%;
}
.right-button-inner{
  margin: 15px;
  border: 1px solid black;
  height: 100%;
}*/
/* line 1, /Users/mattlucas/dev/climber_core/app/assets/stylesheets/comfortable_mexican_sofa/admin/footer.css.scss */
.footer {
  border-top: red 5px solid;
  padding: 20px;
  clear: both;
  text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * require_style
 * require normalize





 * require_tree .
 */
